@import (reference) url('/mixins.less');
@import (reference) url('/palette.less');
.messages-message{
  &.deleted{
    background: @msg-background-delete-color;
  }
  .messages-message-attached-content{
    clear: both;
    margin-top: 1.5em;

    hr{
      border: 0;
      height: 1px;
      .boxShadow(0 1px 3px rgba(105, 255, 249, 0.2));
      background: #333;
      background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
      background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
      background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
      background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }
  }
}

.messages-message-actions{
  .flex-display();
  .flex-direction(row-reverse);
  .transition(opacity 250ms);
  opacity: 0.5;
  align-items: center;
}
.messages-message-actions:hover{
  opacity: 1;
}

.messages-message-actions>*{
  padding: 8px 11px;
  border: none;
  background: transparent;
  color: #a8a8a8;
  margin-right: 1em;
  .transition(background-color 250ms, color 250ms);
}

.messages-message-actions a:visited{
  color: #a8a8a8;
}

.messages-message-actions>*:hover, .messages-message-actions>a:visited:hover{
  color: #000;
  background: #a8a8a8;
}

.messages-message.private-message{
  background: @msg-background-private-color;
}
.messages-message-actions + form{
  margin: 1em 0 0 0;
}

.messages-messages-actions-reply{
  padding: 8px 20px;
  border-width: 0;
  display: inline-block;
  color: #08c;
  background: #e0f5ff;
  margin-left: 10px;
  .transition(background-color 250ms, color 250ms);
}
.messages-messages-actions-reply:hover{
  background: #08c;
  color: #fff;
}
.message-thread-link-to-discussion-head{
  text-align: center;
}

.link-to-sign{
  margin-top:3px;
  text-decoration: none;
}
.messages-messages-actions-fave, .messages-messages-actions-unfave {
  .sup {
    position: absolute;
    font-size: 0.5em;
  }
}
.messages-messages-actions-unfave,.messages-messages-actions-unfave:hover{
  color: #FF4A15;
}

.message-thread-link-to-discussion-head {
  text-align: center;
  position: relative;
  z-index: 1;

  &:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    z-index: -1;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: rgb(39, 45, 51);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: rgba(255, 255, 255, 0.207843) 0px 1px 0px;
    line-height: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #dbf8ff;
  }
}