
@msg-background-color: #FCF0AD;
/* CSS declarations go here */
.borderRadius(@a){
	-webkit-border-radius: @a;
	-moz-border-radius: @a;
	-ie-border-radius: @a;
	border-radius: @a;
}
.responsive-image{
  width: 100%;
  height: auto;
  max-width: 500px;
}
// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
  display: ~"-webkit-@{display}";
  display: ~"-moz-@{display}";
  display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
  display: ~"-ms-@{display}"; // IE11
  display: @display;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
  -moz-flex-direction: @direction;
  -ms-flex-direction: @direction;
  flex-direction: @direction;
}

.boxShadow(@a){
	-webkit-box-shadow: @a;
	-moz-box-shadow: @a;
	box-shadow: @a;
}
*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/** Signious **/
.signious{
	padding: 1em;
}

/** New Message Form **/
.new-message-form-input{
	display: block;
	width: 100%;
	min-height: 120px;
}

.new-message-form-input[readonly]{
  background-color: #ddd;
}

.new-message-form-input-submit{
	font-size: 1.5em;
}
.new-message-form-input-submit[readonly]{
  background-color: #ddd;
  color: #000;
}

.signious{
	min-height: 100vh;
}


.top-navigation-list{
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(66,66,66,0.4);
	display: table;
	table-layout: fixed;
	width: 100%;
}
.top-navigation-list-item{
	display: table-cell;
	text-align: center;


	a{
		text-decoration: none;
		color: #000;
		display: block;
		padding: 1em;
		border: 4px solid transparent;
		border-left-width: 0;
		border-right-width: 0;
	}
	&>a.is_current_route{
		border-bottom-color: #000;
	}
}

#login-buttons{
	text-align: left;
}

/** Nearby Messages styling **/
.messages{
	margin: auto;
}

.messages-list{
	padding: 0;
	margin: 0;
}
.messages-list li{
  margin: 1em 0 0 0;
}
.messages-message{
	display: block;
	padding: 	1em;
	border: 	1px solid #ddd;
    border-width: 1px 1px 0 1px;
	background: @msg-background-color;
	text-overflow: ellipsis;
	overflow-x: hidden;
	overflow-y: auto;

	.boxShadow(1px 1px 4px #ddd);
}
.messages-message:last-child{
  border-bottom-width: 1px;
}

.messages-message-body{
  min-height: 1in;
}
.messages-message-head{

}
.messages-message-linked-webpage-title{
  margin: 0.5em 0 0.2em 0;
  font-size: 1em;
}
.messages-message-username{
  text-decoration: none;
  font-size: 0.8em;
  color: #555555;
  font-weight: bold;
}

.messages-message-actions{
  .flex-display();
  .flex-direction(row-reverse);
}
.messages-message-actions + form{
  margin: 1em 0 0 0;
}