@import (reference) url('mixins.less');
/* Post-it color */
/*@msg-background-color: #FCF0AD;*/
@msg-background-color: #FFF;
@app-background: #DBF8FF;

input{
  margin-bottom: 1em;
}

input[type=text], input[type=number], input[type=password]{
  &[disabled]{
	background: #ddd;
  }
}

/* CSS declarations go here */
.responsive-image{
  max-width: 100%;
  height: auto;
}


*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/** Signious **/
.signious{
  background: @app-background;
}

/** New Message Form **/
.new-message-form-input{
	display: block;
	width: 100%;
	min-height: 120px;
}

.new-message-form-input[readonly]{
  background-color: #ddd;
}

.new-message-form-input-submit{
	font-size: 1.5em;
}
.new-message-form-input-submit[readonly]{
  background-color: #ddd;
  color: #000;
}

.signious{
	min-height: 100vh;
	margin-top: 59px;
}

.top-navigation{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .boxShadow(0 1px 3px rgba(221, 221, 221, 0.35));
}


.top-navigation-list{
  background: #fff;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(66,66,66,0.4);
	display: table;
	table-layout: fixed;
	width: 100%;
}
.top-navigation-list-item{
	display: table-cell;
	text-align: center;


	a{
		text-decoration: none;
		color: #000;
		display: block;
		padding: 1em;
		border: 4px solid transparent;
		border-left-width: 0;
		border-right-width: 0;
	}
	&>a.is_current_route{
		border-bottom-color: #000;
	}
}

#login-buttons{
	text-align: left;
}

/** Nearby Messages styling **/
.messages{
	margin: auto;
    .sidePadding(1em);
}

.messages-list{
	padding: 0;
	margin: 0;
}
.messages-list li{
  margin: 1em 0 0 0;
  list-style-type: none;
}
.messages-message{
	display: block;
	padding: 	1em;
	border: 	1px solid #ddd;
    border-width: 1px 1px 0 1px;
	background: @msg-background-color;
	text-overflow: ellipsis;
	overflow-x: hidden;
	overflow-y: auto;

	.boxShadow(1px 1px 4px #F5E1FD);
}
.messages-message-avatar-pic{
  float: left;
  margin: 0 1em 0 0em;
  width: 80px;
  height: auto;
}
.messages-message:last-child{
  border-bottom-width: 1px;
}

.messages-message-body{
  min-height: 1in;
  overflow: hidden;
}
.messages-message-head{

}
.messages-message-linked-webpage-title{
  margin: 0.5em 0 0.2em 0;
  font-size: 1em;
}
.messages-message-username{
  text-decoration: none;
  font-size: 0.8em;
  color: #555555;
  font-weight: bold;
}

.messages-message-actions{
  .flex-display();
  .flex-direction(row-reverse);
}
.messages-message-actions + form{
  margin: 1em 0 0 0;
}
